<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RegressionSuite" parallel="tests" thread-count="10">
	<test name="Chrome Test">
		<parameter name="browser" value="chrome" />
		<parameter name="reportName" value="purchaseReport" />
		<classes>
			<class
				name="testCases.purchasingProcess">
			</class>
		</classes>
	</test>

	<test name="FireFox Test">
		<parameter name="browser" value="firefox" />
		<parameter name="reportName" value="purchaseReport" />

		<classes>
			<class
				name="testCases.purchasingProcess">
			</class>
		</classes>
	</test>
</suite> 